.edit {
    width: 100%;
}
.editintroduce{
    width: 95%;
    margin-left: 2%;
    height: 90px;
    overflow-y:visible
}
.submitbt{
    float: right;
    width: 10%;
    margin-top: 8px;
    margin-right: 3%;
}


h4{
	color: red;
}

#title-p{
	width: 100%;
}

#live-title{
	float: left;
}

#status{
	float: left;
}